body {
    margin: 0;
    font-family: monospace;
    background: black;
    color: #00ffcc;
}

.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #000;
    padding: 20px;
}

.sidebar button {
    display: block;
    width: 100%;
    margin: 10px 0;
    background: none;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    padding: 10px;
    cursor: pointer;
}

.sidebar button:hover {
    background: #00ffcc;
    color: black;
}

/* CONTENIDO */
.content {
    flex: 1;
    padding: 20px;
}

/* MODULOS */
.modulo {
    display: none;
}

.modulo.activo {
    display: block;
}

/* HACKER TERMINAL */
.hacker {
    background: rgba(0,0,0,0.8);
    padding: 15px;
    border: 1px solid #00ffcc;
    margin-bottom: 20px;
}

#terminal {
    height: 120px;
    overflow: hidden;
}

/* SKILLS */
.barra {
    background: #222;
    height: 15px;
}

.progreso {
    background: #00ffcc;
    height: 100%;
}

/* FONDO */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
