body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background: #0a0a0a;
    color: #00ffcc;
}

/* CONTENEDOR */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #000;
    padding: 20px;
    border-right: 1px solid #00ffcc33;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
}

.menu button {
    margin: 8px 0;
    background: none;
    border: none;
    color: #aaa;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.menu button:hover {
    color: #00ffcc;
    transform: translateX(5px);
}

.menu button.activo {
    background: rgba(0,255,204,0.15);
    color: #00ffcc;
    border-left: 3px solid #00ffcc;
}

/* CONTENIDO */
.content {
    flex: 1;
    padding: 20px;
}

/* MODULOS */
.modulo {
    display: none;
}

.modulo.activo {
    display: block;
}

/* TERMINAL */
.hacker {
    background: black;
    padding: 15px;
    border: 1px solid #00ffcc;
    margin-bottom: 20px;
}

/* CURSOR */
#terminal::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

/* BARRAS */
.barra {
    background: #222;
    height: 15px;
    margin-bottom: 10px;
}

.progreso {
    height: 100%;
    width: 0;
    background: #00ffcc;
    transition: width 1s;
}

/* MATRIX */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}
